<li id="post-<%= post._id %>" class="posted">
    <p>
        <small id="post_user">
            <div class="brand-logo">
                <img class="brand-logo" src="<%= post.user.avatar %>" alt="<%= post.user.name %>" width="50">
            </div>
            <div>
                <%= post.user.name %>
            </div>
        </small>
        <div id="right">
        <% if (locals.user && locals.user.id == post.user.id){ %>
            <small>
                
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                    <i class="fa-solid fa-trash" style="color: #0548bd;"></i>
                </a>
            </small>
            <% } %>
        </div>
        
        <br>
        <div id="POST">
         <%= post.content%>
        </div>
        
        
        
        <div id ="likes_bar">
            <% if (locals.user){ %>
                
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <%= post.likes.length %> <i class="fa-solid fa-thumbs-up"></i>
                </a>
            <% }else{ %>
                <%= post.likes.length %> Likes
            <% } %>
        </div>
    </p>
    
        <% if (locals.user){ %>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add comment">
            </form>

        <% } %>
    <div class="posts-comments" id="posts-comments">
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>
                <p>
                    <%- include('_comment') -%>
                   
                <%} %>
            </ul>
        </div>
    </div>
</li>
