        <link rel="stylesheet" href="/css/user_profile.css">
        <!-- <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100"> -->

        <body>
            
            <% if(user.id == profile_user.id){ %>
                <!-- if user matches show the form  -->
                <div class="container">
                    <div class="brand-logo">
                        <img class="brand-logo" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
                    </div>
                          
                    <div class="brand-title">
                        <p>Name: <%= profile_user.name %></p>
                        <p>Email: <%= profile_user.email %></p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>

                <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                    <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                    <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                    <input type="file" name="avatar" placeholder="Profile Picture">
                    <input type="submit" value="update">
    
                </form>
            <%}else{%>
                <!-- else  only show the profile info -->
                <!-- <p>Name: <%= profile_user.name %></p>
                <p>Email: <%= profile_user.email %></p> -->
                <div class="container">
                    <div class="brand-logo">
                        <img class="brand-logo" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" >
                        
                    </div>
                    
                    
                    
                         
                    <div class="brand-title">
                        <p>Name: <%= profile_user.name %></p>
                        <p>Email: <%= profile_user.email %></p>
                    </div>
                    
                    <button class="btn save-btn">
                        <a class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
                          Add Friend
                        </a>
                      </button>
                </div>
    
                
            <%} %>

            
        </body>
        <script src="/js/toggle_friend.js"></script>
      

       